{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pgram/style.css' %}">

{% if latest_post_list %}
    <div class="post-all">
    {% for post in latest_post_list %}
        <div class="post-template">
            <h3 class="post-author-date">{{ post.author }}, {{ post.pub_date }}</h3>
            <img src="{{ post.image.url }}" class="post-image">
            <p class="post-description">{{ post.desc }}</p>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p class="no-posts">No posts are available.</p>
{% endif %}